<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="RRDB"
			 connectionString="Data Source=(localdb)\RiddleRealmInstance;
                           Initial Catalog=RiddleRealmDB;
                           User ID=appuser;
                           Password=P@ssw0rd123;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>